body{
    background-color: black;
    margin: 0;
    height: 100vh;
    font-family: -apple-system-pro, BlinkMacSystemFont, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    scrollbar-width: none; 
  
  }
  
  .center {
    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  .blur {
    background-image: url('https://cdna.artstation.com/p/assets/images/images/044/765/038/large/philip-butkiewicz-bluepurple-preview.jpg?1641099260');
    top: 100px;
    background-size: 100%;
    background-attachment: fixed;
    border:1px solid rgba(255,255,255,.1);
    box-shadow: 0px 0px 2px rgba(0,0,0,.25);
    
    
    text-align: center;
    font-size: 24px;
    font-family: -apple-system-pro, BlinkMacSystemFont, sans-serif;
    padding: 24px;
  }
  
  .header{
    display: flex;
    position: sticky;
    top: -1;
    transition: all 0.2s ease-in-out;
    min-height: 85px;
    height: fit-content;
    z-index: 1; 
    
    width: 100%;
    
    
  }
  
  .header img{
    margin: 0;
    padding: 0;
  }
  
  .headtable{
  position: absolute;
  left: 0.9px;
  margin: 0;
  width: 99%;  
  }
  
  #lednetlogo{
  width: 33.33%;
  padding-top:5px;
  }
  
  #butauth{
  color: white;
  
  }
  
  /*BUTON PT MENIU*/
  
  .hamburger {
  width: 35px;
  height: 6px;
  background-color: white;
  margin: 5px 0;
  }
  
  
  /*MENIU*/
  /* The side navigation menu */
  .sidenav {
    border: 1px solid white;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }
  

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #imaginesdb{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    
  }
  
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  
  
  #main{
    border-radius: 25px;
    border: 3px solid #282926;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
    height: 90%;
    display: flex;
    flex-direction: column;
      
      padding-left: 2%;
      padding-right:2% ;
  }

  #formular{
    margin-top: 40px;
    margin-bottom: 40px;

  }


  .formcontact{
    width: 100%;
    margin-left:auto;
    margin-right: auto;
  }

  .footer{
    margin-top: auto;
    background-color:rgba(85, 40, 127, 0.498);
    
  }