body{
    background-color: black;
    margin: 0;
    height: 100vh;
    font-family: -apple-system-pro, BlinkMacSystemFont, sans-serif;
    color: white;
}

.center {
    
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.header{
    display: flex;
    position: sticky;
    top: -1;
    transition: all 0.2s ease-in-out;
    min-height: 85px;
    height: fit-content;
    z-index: 1; 
    background: rgba(85, 40, 127, 0.498);
    width: 100%;
    
    
}

.header img{
    margin: 0;
    padding: 0;
}

.headtable{
  position: absolute;
  left: 0.9px;
  margin: 0;
  width: 99%;  
}

#lednetlogo{
  width: 33.33%;
  padding-top:3px;
}

#butauth{
  color: white;
  
}

/*BUTON PT MENIU*/

.hamburger {
  width: 35px;
  height: 6px;
  background-color: white;
  margin: 5px 0;
}


/*MENIU*/
/* The side navigation menu */
.sidenav {
    border: 1px solid white;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  #main{
    display: block;
    position: relative;
    
    margin: 80px;
    padding: 25px;
    height: 80%;
    width: 90%;
    
    background-clip: content-box;
  }
  #aligntextstg{
    display: absolute;
    flex-direction: column;
  }



  #stick{
    position: relative;
    
    left: -40px;
    width: 350px;
    height: 230px;
    transform: rotate(270deg);
    
    
  }

  #accpoint{
    position: relative;
    left: -155px;
    top:115px;
    width: 380px;
    height: 400px;
    
    padding: 0;
    margin: 0;
  }

  #preztext{
    position: absolute;
    text-align: right;
    height: 120px;
    padding: 10px;
    left:-22px;
    
  }

  #maintable{
    position: relative;
    width:100%;
    height: 40%;
    display: table;
    
    padding: 10px;
    
  }
  .text{
    display: relative;
    flex-direction: column;
    height: 85%;
    padding: 5px;
    margin-bottom: 5px;
    
  }
  .butoane{
    bottom: 0px;
    position: relative;
    padding: 50px;
    height: 2px;
    
  }

 .footer{
  position: absolute;
  bottom: 0;
  height: 50px;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }